*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gowun Dodum", sans-serif;
}



body{
    height: 100vh;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
section.users::-webkit-scrollbar {
    width: 0px;
    height: 0px
}
section.users::-webkit-scrollbar-button {
    background: #ccc
}
section.users::-webkit-scrollbar-track-piece {
    background: #888
}
section.users::-webkit-scrollbar-thumb {
    background: #eee
}

@media screen and (max-height: 830px) {
    main.sign-up, main.login{
        margin: 2rem 0rem;
    }
  }